{% extends 'article/base.html' %}

{% block main %}
{% for article in articles %}
<article class="post post-{{ article.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category">
                <a href="{% url 'article:get_corpus' article.corpus %}">{{ article.corpus.name }}</a>
            </span>
            <span class="post-date">
                <time style="color: #000;" datetime="{{ article.create_time }}">
                    {{ article.create_time }}
                </time>
            </span>
            <!-- <span class="views-count"><a href="{{ article.get_absolute_url }}"></a></span> -->
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{ article.body | striptags | slice:":100" }}...</p>
        <div class="read-more cl-effect-14">
            <a href="{{ article.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}

{% endblock main %}